.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 15px 20px;
}

.logo {
    color: white;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* tombol hamburger */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #111;
        flex-direction: column;
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links a {
        padding: 10px 0;
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #000;
    padding: 15px;

    overflow-x: auto;        /* 🔥 penting */
    white-space: nowrap;     /* biar nggak turun */
}

nav a {
    color: white;
    text-decoration: none;
    flex-shrink: 0;          /* biar nggak gepeng */

}